<div class="container">
    <div class="col-sm">
        <div class="contact">
            <div class="col-sm">
                <img class="img" src="../../assets/perfil-pepe.jpg" alt="">
                <p>A108 Adam Street</p>
                <p>NY 535022, USA</p>
                <p>justclassic@gmail.com</p>
                <p>+34 685431815</p>

            </div>
        </div>
    </div>
    <div>
        <div class="usuario">
            <h1>PEPE</h1>
            <h2>Particular</h2>
        </div>
    </div>
</div>
