.img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    float: right;
    margin-right: 595px;
}

.contact {
    padding: 100px;
    display: inline;
}

.usuario {
    text-align: center;
    margin-right: 47px;
}

h1 {
    font-size: 35px;
    font-weight: bolder;
}

h2 {
    font-size: 25px;
}

.omg {
    width: 50%;
}
