<div class="line mx-auto"></div>
<app-catalogoTopBar></app-catalogoTopBar>
<div class="flex-container">
  <div class="example mx-auto">
    <span class="hover hover-3">
      <h1>Todos los coches</h1>
    </span>
  </div>
</div>


<!-- CATALOGO -->
<ul class="list-group mx-auto">
  <li class="list-group-item" *ngFor="let item of allCars">
    <div class="row">
      <div class="col">
        <img class="image" src="{{item.photo}}" alt="">
      </div>
      <div class="col" style="margin-top: 60px;margin-left: -70px;">
        <h2>{{item.name}}</h2>
        <h5>{{item.brand}}</h5>
        <h5>{{item.model}}</h5>
        <button class="btn btn-primary">Ver Detalle</button>
      </div>
      <div class="col">
        <div class="row row-cols-2">
          <div class="col">
            <div class="info">
              <img class="icon" src="../../../../assets/images/icons/price-tag.png" alt="">
              <p>{{item.price}} €</p>
            </div>

          </div>
          <div class="col">
            <div class="info">
              <img class="icon" src="../../../../assets/images/icons/speedometer.png" alt="">
              <p> {{item.km}}</p>
            </div>
          </div>
          <div class="col">
            <div class="info">
              <img class="icon" src="../../../../assets/images/icons/icon-mundo.png" alt="">
              <p>{{item.location}}</p>
            </div>
          </div>
          <div class="col">
            <div class="info">
              <img class="icon" src="../../../../assets/images/icons/new-year.png" alt="">
              <p>{{item.year}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
<!-- <div class="catalogo mx-auto">
  <div class="row mx-auto">
    <a href="/itemDetail" class="card" *ngFor="let item of allCars">
      <div class="card__head">
        <div class="card__image" style="background-image: url({{item.photo}});"></div>
      </div>
      <div class="card__body">
        <h2 class="card__headline">{{item.name}}</h2>
        <div class="line" style="margin-bottom: 15px;"></div>
        <p><img class="icon" src="../../../../assets/images/icons/car.png" alt="">{{item.brand}}</p>
        <p><img class="icon" src="../../../../assets/images/icons/hatchback.png" alt="">{{item.model}}</p>
        <p><img class="icon" src="../../../../assets/images/icons/new-year.png" alt="">{{item.year}}</p>
        <p class="card__text">{{item.bio}}</p>
      </div>
      <div class="card__foot">
        <span class="card__link">Read more</span>
      </div>
      <div class="card__border"></div>
    </a>
    </div>
</div> -->

<script src="catalogo.js"></script>
