@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.catalogo {
  width: 60%;
}
.flex-container {
  display: flex;
  background-image: url(../../../../assets/images/wallpaper1.png);
  // background-color: #ebeeff;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  .d-flex {
    padding: 50px;
  }
  h1 {
    font-weight: bolder;
    font-size: 3vw;
    color: #37447e;
    align-items: center;
    text-align: center;
    margin: 50px;
  }
}
.line {
  background-color: #37447e;
  width: 100%;
  height: 1px;
  margin-top: 8px;
  transition: 2s ease-in-out;
  &:active {
    width: 80%;
  }
}

.list-group {
  width: 45%;

  .list-group-item {
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.247);
    align-items: center;
    margin: 15px;
    padding: 20px;
    height: 250px;
    .image {
      width: 80%;
      border-radius: 15px;
      height: fit-content;
      margin-left: 5px;
      min-height: 200px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.452);
      max-height: 200px;
    }
    .info {
      border-color: #37447e;
      border-style: solid;
      border-width: 2.5px;
      padding: 2px;
      margin: 3px;
      border-radius: 20px;
      .icon {
        width: 30px;
        height: 30px;
        margin-left: 38px;
        margin-bottom: 6px;
        margin-top: 10px;
      }
    }

    h3 {
      color: #37447e;
      font-weight: bolder;
    }
    h5 {
      font-weight: lighter;
    }
    p {
      text-align: center;
      font-weight: bold;
      color: #37447e;
    }
    .button {
      border-color: white;
      border-style: solid;
      color: white;
      background-color: #37447e;
      padding: 10px 40px 10px 40px;
      font-weight: bolder;
      margin-top: 35px;
      border-radius: 10px;
      &:hover {
        border-color: #37447e;
        border-style: solid;
        color: #37447e;
        border-radius: 10px;
        background-color: white;
      }
    }
  }
}
/// UNDERLINED TEXT

@import "https://fonts.googleapis.com/css?family=Montserrat";
@import "https://fonts.googleapis.com/css?family=Lato";
#examples {
  display: flex;
  flex-flow: column;
  max-width: 100%;
  width: 960px;
  background-color: white;
  opacity: 0.95;
  padding: 15px 30px;
  margin: 0 auto 10px;
}

.example {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 30px;
  .hover {
    font-size: 2vh;
    text-align: center;
    padding: 0;
    transition: all 0.2s ease-in-out;
    position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: 35px;
      width: 0px;
      height: 1.5px;
      margin: -10px 0 0;
      transition: all 0.2s ease-in-out;
      transition-duration: 0.75s;
      opacity: 0;
      background-color: darken(#37447e, 5%);
    }
    &.hover-3 {
      &:before {
        left: 50%;
      }
      &:after {
        right: 50%;
      }
    }
  }
  &:hover {
    cursor: pointer;
    .hover {
      &:before,
      &:after {
        width: 100%;
        opacity: 1;
      }
      &.hover-3,
      &.hover-4 {
        &:before,
        &:after {
          width: 100%;
        }
      }
    }
  }
}
///PAGINATION
body {
  margin: 0;
  overflow: hidden;
  background: #222;
}
svg {
  width: 100%;
  height: 100vh;
}

.form-control {
  width: 40%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.747);
}

.btn-primary {
  background-color: #37447e;
  border-radius: 0.9em;
  border-style: hidden;
  padding: 0.8em 1.6em;
  font-weight: bolder;
  margin: 0 0.3em 0.3em 0;
  display: block;
  &:hover {
    background-color: #4a5cac;
  }
}
