<div class="line mx-auto"></div>
<div class="flex-container">
  <div class="d-flex justify-content-between">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle shadow-none" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        ORDENAR
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="z-index: 99999;">
        <li><a class="dropdown-item" href="#">Precio Maximo</a></li>
        <li><a class="dropdown-item" href="#">Precio Precio Minimo</a></li>
        <li><a class="dropdown-item" href="#">Mas Nuevo</a></li>
        <li><a class="dropdown-item" href="#">Mas Antiguo</a></li>
      </ul>
    </div>
    <input type="text" class="form-control" placeholder="Buscar" aria-label="Username" aria-describedby="basic-addon1"
       #car>
    <button class="btn btn-primary shadow-none" data-bs-toggle="modal" data-bs-target="#exampleModal"
      data-bs-whatever="@getbootstrap">FILTRAR</button>
  </div>

  <!-- MODAL -->
  <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    style="z-index: 99999;">
    <div class="modal-dialog position-absolute top-50 start-50 translate-middle" style="width: 100%;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Selecciona los filtros</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">

          <form>
            <div class="RECUADRO-BLANCO">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nombre" aria-label="Username"
                  aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <select class="form-select" id="inputGroupSelect01">
                  <option selected>Precio</option>
                  <option value="1">Clase A</option>
                  <option value="2">Clase B</option>
                  <option value="3">Clase C</option>
                </select>
              </div>
              <div class="input-group mb-3">
                <select class="form-select" id="inputGroupSelect01">
                  <option selected>Toda España</option>
                  <option value="1">Madrid</option>
                  <option value="2">Barcelona</option>
                  <option value="3">Valencia</option>
                  <option value="3">Castilla-La-Mancha</option>
                  <option value="3">Extremadura</option>
                </select>
              </div>
              <div class="input-group mb-3">
                <select class="form-select" id="inputGroupSelect01">
                  <option selected>Marca</option>
                  <option value="1">Mercedes-Benz</option>
                  <option value="2">BMW</option>
                  <option value="3">Peugeot</option>
                  <option value="3">Seat</option>
                  <option value="3">Larmborgini</option>
                </select>
              </div>
              <div class="input-group mb-3">
                <select class="form-select" id="inputGroupSelect01">
                  <option selected>Combustible</option>
                  <option value="1">Gasolina</option>
                  <option value="2">Diesel</option>
                </select>
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Modelo" aria-label="Username"
                  aria-describedby="basic-addon1">
              </div>

              <div class="input-group mb-3">
                <select class="form-select" id="inputGroupSelect01">
                  <option selected>Km</option>
                  <option value="1">Clase A</option>
                  <option value="2">Clase B</option>
                  <option value="3">Clase C</option>
                </select>
              </div>



            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="example mx-auto">
    <span class="hover hover-3">
      <h1>Todos los coches</h1>
    </span>
  </div>



  <!-- CATALOGO -->
  <ul class="list-group mx-auto">
    <li class="list-group-item" *ngFor="let item of allCars">
      <div class="row">
        <div class="col">
          <img class="image" src="{{item.photo}}" alt="">
        </div>
        <div class="col" style="margin-left: -45px;">
          <h3>{{item.name}}</h3>
          <h5>{{item.brand}}</h5>
          <h5>{{item.model}}</h5>
          <button (click)="detail(item._id)" class="button">Ver Detalle</button>
        </div>
        <div class="col">
          <div class="row row-cols-2">
            <div class="col">
              <div class="info">
                <img class="icon " src="../../../../assets/images/icons/price-tag.png" alt="">
                <p>{{item.price}} €</p>
              </div>

            </div>
            <div class="col">
              <div class="info">
                <img class="icon" src="../../../../assets/images/icons/speedometer.png" alt="">
                <p> {{item.km}}</p>
              </div>
            </div>
            <div class="col">
              <div class="info">
                <img class="icon" src="../../../../assets/images/icons/icon-mundo.png" alt="">
                <p>{{item.location}}</p>
              </div>
            </div>
            <div class="col">
              <div class="info">
                <img class="icon" src="../../../../assets/images/icons/new-year.png" alt="">
                <p>{{item.year}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<script src="catalogo.js"></script>
