<app-catalogoTopBar></app-catalogoTopBar>

<div class="flex-container">
  <div class="d-flex justify-content-between">
    <carousel class="flex-column mx-auto" style="height: 250px ;">
      <div class="carousel-cell" *ngFor="let category of allCategories">
        <a href="/catalogo">
          <div class="blog-card">
            <img class="spring-fever" src="{{category.photo}}" alt="">
            <div class="title-content">
              <h3>{{category.name}}</h3>

            </div><!-- /.title-content -->
            <div class="card-info">
              {{category.description}}
            </div><!-- /.card-info -->

            <!-- overlays -->
            <div class="gradient-overlay"></div>
            <div class="color-overlay"></div>
          </div><!-- /.blog-card --> <!-- <h5 class="centered">{{category.name}}</h5> -->
        </a>
            <!-- <img src="{{category.photo}}" class="img-fluid" alt="categoryImage"> -->
      </div>
    </carousel>
  </div>

  <!-- <div class="line flex-column mx-auto" style="margin-top: 50px;"></div> -->



  <div class="flex-column mx-auto">

    <div class="example">
      <span class="hover hover-3"><h1>Destacado</h1></span>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-sm">
      <a href=""><img class="imgCatalogoHome" src="../../../../assets/images/jakub-sisulak-a3fOMcZ3mYQ-unsplash.jpg"
          alt=""></a>
    </div>
    <div class="col-sm">
      <a href=""><img class="imgCatalogoHome" src="../../../../assets/images/pexels-pixabay-163553.jpg" alt=""></a>
    </div>
    <div class="col-sm">
      <a href=""><img class="imgCatalogoHome" src="../../../../assets/images/pexels-markus-spiske-2101260.jpg"
          alt=""></a>
    </div>
  </div>


  <!-- <div class="line flex-column mx-auto" style="margin-top: 50px;"></div> -->

  <div class="flex-column mx-auto">
    <div class="example">
      <span class="hover hover-3"><h1>Lo más buscado</h1></span>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-sm">
      <a href=""><img class="imgCatalogoHome" src="../../../../assets/images/jakub-sisulak-a3fOMcZ3mYQ-unsplash.jpg"
          alt=""></a>
    </div>
    <div class="col-sm">
      <a href=""><img class="imgCatalogoHome" src="../../../../assets/images/pexels-pixabay-163553.jpg" alt=""></a>
    </div>
    <div class="col-sm">
      <a href=""><img class="imgCatalogoHome" src="../../../../assets/images/pexels-markus-spiske-2101260.jpg"
          alt=""></a>
    </div>
  </div>

  <!-- <div class="line flex-column mx-auto" style="margin-top: 50px;"></div> -->

  <div class="flex-column mx-auto">
    <div class="example">
      <span class="hover hover-3"><h1>Lo coches más valorados</h1></span>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-sm">
      <a href=""><img class="imgCatalogoHome" src="../../../../assets/images/robin-vet-q6LFMQ6wVZ0-unsplash.jpg"
          alt=""></a>
    </div>
    <div class="col-sm">
      <a href=""><img class="imgCatalogoHome" src="../../../../assets/images/oli-woodman-kA8icki31uo-unsplash.jpg"
          alt=""></a>
    </div>
    <div class="col-sm">
      <a href=""><img class="imgCatalogoHome" src="../../../../assets/images/pexels-markus-spiske-2101260.jpg"
          alt=""></a>
    </div>
  </div>



