<div class="flex-container">
  <div class="d-flex justify-content-between">
    <carousel class="flex-column mx-auto" style="height: 250px ;">
      <div class="carousel-cell" *ngFor="let category of allCategories">
        <a href="/catalogo">
          <div class="blog-card">
            <img class="spring-fever" src="{{category.photo}}" alt="">
            <div class="title-content">
              <h3>{{category.name}}</h3>

            </div><!-- /.title-content -->
            <div class="card-info">
              {{category.description}}
            </div><!-- /.card-info -->

            <!-- overlays -->
            <div class="gradient-overlay"></div>
            <div class="color-overlay"></div>
          </div>
        </a>
      </div>
    </carousel>
  </div>
  <div class="flex-column mx-auto">
    <div class="example">
      <span class="hover hover-3">
        <h1>Destacado</h1>
      </span>
    </div>
  </div>
  <div class="best mx-auto">
    <div class="cards">
      <article class="card card--1" *ngFor="let item of allBest">
        <div class="card__info-hover">
        </div>
        <div class="card__img"></div>
        <a href="#" class="card_link">
          <div class="card__img--hover"></div>
        </a>
        <div class="card__info">
          <span class="card__category"> {{item.name}}</span>
          <h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
          <span class="card__by">by <a href="#" class="card__author" title="author">Celeste Mills</a></span>
        </div>
      </article>
    </div>
  </div>
  <div class="flex-column mx-auto">
    <div class="example">
      <span class="hover hover-3">
        <h1>Lo más buscado</h1>
      </span>
    </div>
  </div>
  <div class="best  mx-auto" style="margin-bottom: 100px;">
    <div class="cards">
      <article class="card card--1" *ngFor="let item of allBest">
        <div class="card__img"></div>
        <a href="#" class="card_link">
          <div class="card__img--hover"></div>
        </a>
        <div class="card__info">
          <span class="card__category"> Recipe</span>
          <h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
          <span class="card__by">by <a href="#" class="card__author" title="author">Celeste Mills</a></span>
        </div>
      </article>
    </div>
  </div>
</div>
