<div class="flex-container">
    <div class="d-flex justify-content-between">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          ORDENAR
        </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Precio Maximo</a></li>
                <li><a class="dropdown-item" href="#">Precio Precio Minimo</a></li>
                <li><a class="dropdown-item" href="#">Mas Nuevo</a></li>
                <li><a class="dropdown-item" href="#">Mas Antiguo</a></li>
            </ul>
        </div>
        <input type="text" class="form-control" placeholder="Buscar" aria-label="Username" aria-describedby="basic-addon1" [value]="nameSearch">
        <button class="btn btn-primary" id="logout-button">FILTRAR</button>
    </div>


    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner row w-100 mx-auto">
            <div class="carousel-item active mx-auto" *ngFor="let category of allCategories;let index = index;let isFirst = first" [ngClass]="{active:isFirst}">
                <img src="{{category.photo}}" class="d-block" alt="...">
                <h1>{{category.name}}</h1>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
    </div>
</div>







<div class="line"></div>
<div class="row">
    <div class="card box-card " *ngFor="let item of allCars">
        <img src="{{item.photo}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{item.bio}}</p>
            <a href="#" class="btn btn-primary">Ver Detalle</a>
        </div>
    </div>
</div>
