<div class="d-flex">
  <div class="background">
    <div class="login flex-column mx-auto position-absolute top-50 start-50 translate-middle">
      <div class="form-signin ">
        <form [formGroup]="mForm" (ngSubmit)="onSubmit()">
          <h1 class="title">Just</h1>
          <h1 class="secondTitle">Classic</h1>
          <div class="form-floating mb-3">
            <input name="email" type="email" class="form-control" id="floatingInput" placeholder="Correo electrónico"
              formControlName="email" [ngClass]="{'is-invalid': isSent && f.email.errors}">
            <label for="floatingInput">Correo Electronico</label>
            <div class="form-floating">
              <div role="alert" *ngIf="isSent && f.email.errors"></div>
            </div>
          </div>
          <div class="form-floating">
            <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password"
              formControlName="password" [ngClass]="{'is-invalid': isSent && f.password.errors}">
            <label for="floatingPassword">Contraseña</label>
          </div>
          <div class="form-floating">
            <div role="alert" *ngIf="isSent && f.password.errors"></div>

          </div>
          <div class="d-flex flex-column">
            <div class="mx-auto d-flex">
              <a class="forgotPass" href="">¿Has olvidado tu contraseña?</a>
            </div>
            <div class="mx-auto d-flex">
              <button type="submit" class="btn btn-primary mx-auto" (click)="loginUser()">LOGIN</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
