.flex-container {
  .row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    .image {
      width: 100vh-25vh;
      display: block;
    }
    h1 {
      font-size: 3vw;
      font-weight: bold;
      color: #37447e;
      margin-bottom: 50px;
    }
    p {
      font-size: 1vw;
      margin-top: 15px;
      width: 100%;
    }
    h5 {
      width: 80%;
    }
    .icon {
      margin-top: 50px;
      width: 20%;
      height: auto;
      margin-bottom: 25px;
      border-radius: none;
    }

    h6 {
      color: #37447e;
      font-size: 1.5rem;
      font-weight: bolder;
    }

    //CARTAS

    .cardBox {
      font-size: 1.2em;
      perspective: 800px;
      transition: all 0.3s ease 0s;
      width: 85%;
      border-radius: 20px;
    }

    .cardBox:hover .card {
      transform: rotateX(180deg);
    }

    .card {
      background: rgba(255, 255, 255, 0.418);
      cursor: default;
      height: 250px;
      transform-style: preserve-3d;
      transition: transform 0.4s ease 0s;
      width: 100%;
      -webkit-animation: giro 1s 1;
      animation: giro 1s 1;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.493);
      border-radius: 20px;
    }

    .card .back p {
      margin-top: 60px;
      text-align: center;
    }

    .card .front,
    .card .back {
      backface-visibility: hidden;
      box-sizing: border-box;
      color: white;
      display: block;
      font-size: 1.2em;
      height: 100%;
      padding: 0.8em;
      position: absolute;
      text-align: center;
      width: 100%;
      border-radius: 20px;
    }

    .card .back {
      transform: rotateX(180deg);
    }

    .cardBox:nth-child(1) .card .back {
      background: #37447e;
    }
  }
}
