<div class="screen">
    <div class="background">
        <div class="description">
            <h1 class="about">Sobre nosotros</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed eos, sit exercitationem quia aspernatur deserunt esse officia explicabo consequuntur! Expedita eveniet atque dolorem enim labore illo aliquid harum aut! Quaerat. Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Mollitia nulla inventore blanditiis veniam expedita reiciendis. Aperiam asperiores repudiandae id reiciendis, pariatur maxime recusandae incidunt quod ducimus optio delectus hic exercitationem.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint eaque facere provident ratione inventore, ipsa vero sit earum culpa odit quasi neque labore impedit at, iure placeat fuga dolor eos.
            </p>

            <div class="object">
                <div class="actions">
                    <img class="icon" src="../../assets/images/icon-volante.png" alt="" />
                    <h6>Busqueda Vehiculo</h6>
                    <p class="minText">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure exercitationem excepturi quam maiores consequatur.
                    </p>
                </div>

                <div class="actions">
                    <img class="icon" src="../../assets/images/icon-herramienta.png" alt="" />
                    <h6>Restauracion</h6>
                    <p class="minText">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure exercitationem excepturi quam maiores consequatur.
                    </p>
                </div>

                <div class="actions">
                    <img class="icon" src="../../assets/images/icon-mundo.png" alt="" />
                    <h6>Transporte</h6>
                    <p class="minText">
                        Lorem dolor, sit amet consectetur adipisicing elit. Iure exercitationem excepturi quam maiores consequatur.
                    </p>
                </div>

                <div class="actions">
                    <img class="icon" src="../../assets/images/icon-llaves2.png" alt="" />
                    <h6>Entrega al Cliente</h6>
                    <p class="minText">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure exercitationem excepturi quam maiores consequatur.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
