<div class="d-flex">
  <div class="background">
    <div class="register flex-column mx-auto position-absolute top-50 start-50 translate-middle">
      <div class="form-signin">
        <form class="mx-auto" [formGroup]="mForm" (ngSubmit)="onSubmit()">
          <h1 class="title">Just</h1>
          <h1 class="secondTitle">Classic</h1>
          <h5 class="thirdTitle">Usuario</h5>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
              formControlName="name" [ngClass]="{'is-invalid': isSent && f.name.errors}">
            <label for="floatingInput">Usuario</label>
            <div class="form-floating">
              <div role="alert" *ngIf="isSent && f.name.errors">
              </div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
              formControlName="email" [ngClass]="{'is-invalid': isSent && f.email.errors}">
            <label for="floatingInput">Correo Electronico</label>
            <div class="form-floating">
              <div role="alert" *ngIf="isSent && f.email.errors">
              </div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input name="phone" type="phone" class="form-control" id="floatingInput" placeholder="Nº Telefono"
              formControlName="phone" [ngClass]="{'is-invalid': isSent && f.email.errors}">
            <label for="floatingInput">Nº Telefono</label>
            <div class="form-floating">
              <div role="alert" *ngIf="isSent && f.phone.errors"></div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
              formControlName="password" [ngClass]="{'is-invalid': isSent && f.password.errors}">
            <label for="floatingPassword">Contraseña</label>
            <div class="form-floating">
              <div role="alert" *ngIf="isSent && f.password.errors">
              </div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
              formControlName="repeat_password" [ngClass]="{'is-invalid': isSent && f.repeat_password.errors}">
            <label for="floatingPassword">Repetir Contraseña</label>
            <div class="form-floating">
              <div role="alert" *ngIf="isSent && f.repeat_password.errors">
              </div>
            </div>
          </div>
          <div class="d-flex flex-column">
            <div class="mx-auto">
              <button type="submit" class="btn btn-primary mx-auto">Registrarse</button>

            </div>

            <div class="line"></div>
            <div class="mx-auto">
              <button class="btn btn-primary i  mx-auto" routerLink="/registerEmpresa" routerLinkActive="active">¿ERES
                EMPRESA?</button>
            </div>
          </div>

        </form>


      </div>

    </div>
  </div>

</div>



<router-outlet></router-outlet>
