<div class="background">
    <div class="login">
        <div class="padd">
            <h1 class="title">Just</h1>
            <h1 class="secondTitle">Classic</h1>
        </div>
        <div class="form-signin">
            <form class="padd" [formGroup]="mForm" (ngSubmit)="onSubmit()">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Correo electrónico" formControlName="email" [ngClass]="{'is-invalid': isSent && f.email.errors}">
                    <label for="floatingInput">Correo Electronico</label>
                    <div class="form-floating">
                        <div class="alert alert-danger" role="alert" *ngIf="isSent && f.email.errors">
                            El email no es válido
                        </div>
                    </div>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password" [ngClass]="{'is-invalid': isSent && f.password.errors}">
                    <label for="floatingPassword">Contraseña</label>
                </div>
                <div class="form-floating">

                    <div class="alert alert-danger" role="alert" *ngIf="isSent && f.password.errors">
                        La constraseña no es válida
                    </div>
                </div>
                <div class="mb-3">
                    <a class="forgot" href="">¿Has olvidado tu contraseña?</a>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">LOGIN</button>
                </div>
            </form>

        </div>

    </div>
</div>
