<div class="container">
  <div class="recuadro-blanco mx-auto">
    <div class="secondary-blanco">
      <h1>Información Básica</h1>
      <!-- <img class="img mx-auto" src="../../../../../assets/images/alex-zabavsky-WCQKaC2ffjs-unsplash.jpg" alt="uploadedImage"> -->
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Nombre Vehiculo" aria-label="Username"
          aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Marca</option>
          <option value="1">Mercedez-Benz</option>
          <option value="2">BMW</option>
          <option value="3">Seat</option>
          <option value="3">Audi</option>
          <option value="3">Ferrari</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Modelo</option>
          <option value="1">Mercedez-Benz</option>
          <option value="2">BMW</option>
          <option value="3">Seat</option>
          <option value="3">Audi</option>
          <option value="3">Ferrari</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Año" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Precio - €" aria-label="Username"
          aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="line mx-auto"></div>
    <!-- SECONDARY INPUT -->
    <div class="secondary-blanco">
      <h1>Información del Vehiculo</h1>
      <!-- <img class="img mx-auto" src="../../../../../assets/images/alex-zabavsky-WCQKaC2ffjs-unsplash.jpg" alt="uploadedImage"> -->

      <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile01">
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Numero de Plazas" aria-label="Username"
          aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Numero de Puertas" aria-label="Username"
          aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Combustible</option>
          <option value="1">Gasolina</option>
          <option value="2">Diesel</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Tipo de Coche</option>
          <option value="1">Sedan</option>
          <option value="2">Coupé</option>
          <option value="3">Familiar</option>
          <option value="3">Furgoneta</option>
          <option value="3">Pequeño</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Toda España</option>
          <option value="1">Madrid</option>
          <option value="2">Barcelona</option>
          <option value="3">Valencia</option>
          <option value="3">Castilla-La-Mancha</option>
          <option value="3">Extremadura</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Kilómetros" aria-label="Username"
          aria-describedby="basic-addon1">
      </div>
      <div class="input-group">
        <textarea class="form-control" aria-label="With textarea" placeholder="Descripción"></textarea>
      </div>
    </div>
    <button class="btn btn-primary mx-auto">Subir</button>
    <div class="cancelar">
      <a href="">Cancelar</a>
    </div>

  </div>
</div>
<app-footer></app-footer>
