

.background {
    background-image:url(../../../../assets/images/josh-rinard-H9mp1P1VUj4-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-top: -86px;
}

.title {
    font-weight: bolder;
    font-size: 50px;
    color: #37447E;
    align-items: center;
}

.secondTitle {
    font-weight: bolder;
    font-size: 30px;
    color: #37447E;
    align-items: center;
    text-align: center;
}


.btn-primary {
    background-color: #37447E;
    border-radius: 10px;
    box-shadow: 0 0 5px #37447E;
    padding: 20px 40px 20px 40px;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 50px;
    border-style: none;
    &:hover{
      background-color:#566bc9 ;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
