<div class="container">
  <div class="row mt-4">
    <div class="col-sm">
      <div class="contact">
        <p>A108 Adam Street</p>
        <p>NY 535022, USA</p>
        <p>{{User.email}}</p>
        <p>{{User.phone}}</p>
        <button class="btn-share" style="margin-left: 155px;margin-bottom: -30px;margin-top: 20px;">
          <span class="btn-text"><img class="iconButton" src="../../../../../assets/images/icons/icon-herramienta.png"
              alt=""></span>
          <ul class="social-icons">
            <li>
              <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="iconButton"
                  src="../../../../assets/images/icons/edit.png" alt=""></a>
            </li>
            <li>
              <a href="" ><img class="iconButton"
                  src="../../../../assets/images/icons/logout-white.png" alt="" (click)="logout()"></a>
            </li>
          </ul>
        </button>
      </div>

    </div>
    <div class="col-sm ">
      <div class="circular--landscape" style="margin-left: 80px;">
        <img class="img" src="{{User.photo}}" alt="">
      </div>
      <h1>{{User.name}}</h1>
      <h3>Particular</h3>

    </div>

    <div class="col-sm">
      <iframe class="maps"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8920877215446!2d-78.61526208464393!3d-1.2346091990994936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d381a86c8c8dff%3A0x9fc9691652c2ff32!2sLas%20Bahamas%2C%20Ambato%20180104%2C%20Ecuador!5e0!3m2!1ses!2ses!4v1619474341655!5m2!1ses!2ses"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="line" style=" margin-top: 50px;"></div>
  </div>

</div>


<!-- CATALOGO -->
<ul class="list-group mx-auto">
  <li class="list-group-item" *ngFor="let item of allCars">
    <div class="row">
      <div class="col">
        <img class="image" src="{{item.photo}}" alt="">
      </div>
      <div class="col" >
        <h2>{{item.name}}</h2>
        <h5>{{item.brand}}</h5>
        <h5>{{item.model}}</h5>
        <button class="button" (click)="detail(item._id)">Ver Detalle</button>
      </div>
      <div class="col">
        <div class="row row-cols-2">
          <div class="col">
            <div class="info">
              <img class="icon" src="../../../../assets/images/icons/price-tag.png" alt="">
              <p>{{item.price}} €</p>
            </div>

          </div>
          <div class="col">
            <div class="info">
              <img class="icon" src="../../../../assets/images/icons/speedometer.png" alt="">
              <p> {{item.km}}</p>
            </div>
          </div>
          <div class="col">
            <div class="info">
              <img class="icon" src="../../../../assets/images/icons/icon-mundo.png" alt="">
              <p>{{item.location}}</p>
            </div>
          </div>
          <div class="col">
            <div class="info">
              <img class="icon" src="../../../../assets/images/icons/new-year.png" alt="">
              <p>{{item.year}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
<!-- MODAL -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  style="z-index: 99999;">
  <div class="modal-dialog position-absolute top-50 start-50 translate-middle" style="width: 100%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Infomación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="RECUADRO-BLANCO">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Domicilio" aria-label="Username"
                aria-describedby="basic-addon1" #name>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Localidad" aria-label="Username"
                aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Telefono" aria-label="Username"
                aria-describedby="basic-addon1">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateUser(name.value)">Guardar</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
