<div class="container">
  <div class="row mt-4">
    <div class="col-sm">
      <div class="contact ">
        <p>A108 Adam Street</p>
        <p>NY 535022, USA</p>
        <p>justclassic@gmail.com</p>
        <p>+34 685431815</p>

      </div>

    </div>
    <div class="col-sm">
      <img class="img" src="{{User.img}}" alt="">
      <h1>{{User.name}}</h1>
      <h3>{{User.typeUser}}</h3>
    </div>

    <div class="col-sm">
      <iframe class="maps"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8920877215446!2d-78.61526208464393!3d-1.2346091990994936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d381a86c8c8dff%3A0x9fc9691652c2ff32!2sLas%20Bahamas%2C%20Ambato%20180104%2C%20Ecuador!5e0!3m2!1ses!2ses!4v1619474341655!5m2!1ses!2ses"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="line" style=" margin-top: 50px;"></div>
  </div>

</div>

<div class="items mx-auto">
  <div class="row" style="margin-top: 50px;">
    <div class="card mx-auto ">
      <a style="margin-top: 12rem;" href="/uploadItem"><img src="../../../../assets/images/add.png" class="img" alt="imagenAñadir">
        <h3>Añadir Producto</h3>
      </a>
    </div>
    <a href="/itemDetail" class="card  mx-auto " *ngFor="let item of allCars">
      <div class="card__head">
        <div class="card__image" style="background-image: url({{item.photo}});"> </div>
        <div class="card__author">
          <div class="author">
            <img src="{{User.img}}" alt="Author of Tobias Reich"
              class="author__image">
            <div class="author__content">
              <p class="author__header">{{User.name}}</p>
              <p class="author__subheader">{{User.lastName}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card__body">
        <h2 class="card__headline">{{item.name}}</h2>
        <p class="card__text">{{item.bio}}</p>
      </div>
      <div class="card__foot">
        <span class="card__link">Read more</span>
      </div>
      <div class="card__border"></div>
    </a>

  </div>
</div>
