.container {
    width: 100%;
    height: 90vh;
    h1 {
        font-weight: bolder;
        color: #37447e;
        margin-left: 34%;
        margin-top: 60px;
    }
    a {
        margin-top: 100px;
    }
    .imgCoche {
        width: 40%;
        height: auto;
        float: left;
        border-radius: 100px;
        box-shadow: 15px 15px 15px #0000009c;
        transition: all 300ms ease-in-out;
        transform: translate(-10px) scale(1);
        &:hover {
            transform: translate(-10px) scale(1.10);
        }
    }
    .imgMoto {
        width: 40%;
        height: auto;
        float: right;
        border-radius: 100px;
        box-shadow: 15px 15px 15px #0000009c;
        transition: all 300ms ease-in-out;
        transform: translate(-10px) scale(1);
        &:hover {
            transform: translate(-10px) scale(1.10);
        }
    }
}
