.flex-container {
  background-color: #37447e;
  max-width: 100%;
  background-repeat: no-repeat;
  height: 45vh;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  padding: 50px;
  .top-footer {
    margin-bottom: 40px;
    .list-group-item{
      background-color: transparent;
    }
    h1 {
      font-size: 30px;
      font-weight: bolder;
      color: white;
    }
    a {
      color: white;
      text-decoration: none;
      margin: 8px;
      &:hover {
        color: #bac6fc;
      }
    }
  }
  .line {
    background-color: white;
    width: 90%;
    height: 1px;
  }
  .primary-footer {
    float: left;
    margin-top: 50px;

    h1 {
      font-weight: bolder;
      color: white;
    }
    p {
      color: white;
    }
  }
  .secondary-footer {
    float: right;
    margin-top: 50px;
    width: 430px;

    .social {
      margin-bottom: 20px;
      width: 40px;
      height: 40px;
      transition: 6ms ease-in-out;
    }
    .legal {
      text-decoration: none;
      color: white;
      font-size: 12px;
      font-weight: bold;
      &:hover {
        color: #bac6fc;
      }
    }
  }
}
