.container {
  background-image: url(../../../../assets/images/pexels-markus-spiske-2101260.jpg);
  max-width: 100%;
  background-repeat: no-repeat;
  height: 100vh- 90vh;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  padding: 50px;
  .row {
    margin: 20px;
    .social {
      margin-top: 100px;
      .logo {
        width: 52%;
        height: fit-content;
        margin: 30px;
        transition: width 0.5s, height 0.5s;
        &:hover {
          width: 62%;
          height: fit-content;
          margin: 30px;
        }
      }
    }
    .title {
      background-color: rgba(255, 255, 255, 0.534);
      width: fit-content;
      padding: 20px;
      border-radius: 20px;
      margin-top: 100px;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
      h1 {
        font-weight: bolder;
        font-size: 50px;
        color: #37447e;
        text-shadow: 0 0 0.5px black;
        text-align: center;
      }
    }
  }
  .contact {
    width: 30%;
    text-align: center;
    margin-top: 50px;
    p {
      color: white;
      font-size: larger;
      font-weight: bolder;
      text-shadow: 0 0 15px black;
    }
  }

  .legal {
    align-items: center;
    display: inline-flex;
    a {
      text-align: center;
      text-shadow: 0 0 15px black;
      align-items: center;
      text-decoration: none;
      color: white;
      font-weight: bolder;
      bottom: 0;
      display: block;
      font-size: 1.2rem;
    }
  }
}


////SOCIAL LINKS

