<div class="container">
  <div class="row" style="margin: 50px;">
    <div class="col-sm">
      <div class="social mx-auto">
        <div class="row">
          <div class="col-sm">
            <a href="https://www.instagram.com/"><img class="logo" src="../../assets/images/icons/174855.png" alt=""></a>
          </div>
          <div class="col-sm">
            <a href="https://www.facebook.com/"><img class="logo" src="../../assets/images/icons/facebook(1).png" alt=""></a>
          </div>
          <div class="col-sm">
            <a href="https://twitter.com/home"><img class="logo" src="../../assets/images/icons/TwitterLogo_55acee.png"
                alt=""></a>
          </div>
          <div class="col-sm">
            <a href="https://youtube.com/"><img class="logo" src="../../assets/images/icons/YouTube-icon-full_color.png"
                alt=""></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="title mx-auto">
        <h1>JustClassic</h1>
      </div>
    </div>
    <div class="col-sm">
      <div class="contact mx-auto">
        <div class="col-sm">
          <p>A108 Adam Street</p>
          <p>NY 535022, USA</p>
          <p>justclassic@gmail.com</p>
          <p>+34 685431815</p>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="legal">
      <div class="col-sm">
        <a href="#">Aviso Legal</a>
      </div>
      <div class="col-sm">
        <a href="#">Potica de Privacidad</a>
      </div>
      <div class="col-sm">
        <a href="#">Potica de Cookies</a>
      </div>
    </div>

  </div>
</div>
