<div class="flex-container">

  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <ul class="list-group">
            <h1>Enlaces de Interes</h1>
            <a href="">Sobre nosotros</a>
            <a href="">Glosario</a>
            <a href="">Informacion</a>
            <a href="">Noticias</a>
          </ul>
        </div>
        <div class="col-sm">
          <h1>Descubrenos</h1>
          <ul class="list-group">
            <a href="">Sobre nosotros</a>
            <a href="">Glosario</a>
            <a href="">Informacion</a>
            <a href="">Noticias</a>
          </ul>
        </div>
        <div class="col-sm">
          <h1>Contacto</h1>
          <ul class="list-group">
            <a href="">Particulares y Empresas</a>
            <a href="">Concesionarios y Talleres</a>
            <a href="">Empleo</a>
          </ul>
        </div>
        <div class="col-sm">
          <h1>Contacto</h1>
          <ul class="list-group">
            <a href="">Particulares y Empresas</a>
            <a href="">Concesionarios y Talleres</a>
            <a href="">Empleo</a>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="line mx-auto"></div>
  <div class="primary-footer">
    <h1>JustClassic</h1>
    <p>©2021 JUSTCLASSIC, S.A. Todos los derechos reservados</p>
  </div>
  <div class="secondary-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <a href=""><img class="social" src="../../../../assets/images/social/instagram.svg" alt=""></a>
        </div>
        <div class="col-sm">
          <a href=""><img class="social" src="../../../../assets/images/social/gorjeo.svg" alt=""></a>
        </div>
        <div class="col-sm">
          <a href=""><img class="social" src="../../../../assets/images/social/facebook.svg" alt=""></a>
        </div>
        <div class="col-sm">
          <a href=""><img class="social" src="../../../../assets/images/social/linkedin.svg" alt=""></a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <a class="legal" href="">Politica de Cookies</a>
        </div>
        <div class="col-sm">
          <a class="legal" href="">Nota Legal</a>
        </div>
        <div class="col-sm">
          <a class="legal" href="">Politica de Privacidad</a>
        </div>
      </div>
    </div>



  </div>
</div>



























































<!-- <div class="container">
  <div class="row" style="margin: 50px;">
    <div class="col-sm">
      <div class="social mx-auto">
        <div class="row">
          <div class="col-sm">
            <a href="https://www.instagram.com/"><img class="logo" src="../../assets/images/icons/174855.png" alt=""></a>
          </div>
          <div class="col-sm">
            <a href="https://www.facebook.com/"><img class="logo" src="../../assets/images/icons/facebook(1).png" alt=""></a>
          </div>
          <div class="col-sm">
            <a href="https://twitter.com/home"><img class="logo" src="../../assets/images/icons/TwitterLogo_55acee.png"
                alt=""></a>
          </div>
          <div class="col-sm">
            <a href="https://youtube.com/"><img class="logo" src="../../assets/images/icons/YouTube-icon-full_color.png"
                alt=""></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="title mx-auto">
        <h1>JustClassic</h1>
      </div>
    </div>
    <div class="col-sm">
      <div class="contact mx-auto">
        <div class="col-sm">
          <p>A108 Adam Street</p>
          <p>NY 535022, USA</p>
          <p>justclassic@gmail.com</p>
          <p>+34 685431815</p>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="legal">
      <div class="col-sm">
        <a href="#">Aviso Legal</a>
      </div>
      <div class="col-sm">
        <a href="#">Potica de Privacidad</a>
      </div>
      <div class="col-sm">
        <a href="#">Potica de Cookies</a>
      </div>
    </div>

  </div>
</div> -->
