<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="social">
                <a href="https://www.instagram.com/"><img class="logoInsta" src="../../assets/images/174855.png" alt=""></a>
                <a href="https://www.facebook.com/"><img class="logoFace" src="../../assets/images/facebook(1).png" alt=""></a>
                <a href="https://twitter.com/home"><img class="logoTwi" src="../../assets/images/TwitterLogo_55acee.png" alt=""></a>
                <a href="https://youtube.com/"><img class="logoYT" src="../../assets/images/YouTube-icon-full_color.png" alt=""></a>
            </div>
        </div>

        <div class="col-sm">
            <div class="title">
                <div class="col-sm">
                    <h1 class="background">JustClassic</h1>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="contact">
                <div class="col-sm">
                    <p>A108 Adam Street</p>
                    <p>NY 535022, USA</p>
                    <p>justclassic@gmail.com</p>
                    <p>+34 685431815</p>
                </div>
            </div>
        </div>
        <div class=" copy bottom col-sm-6 bottom text-center">
            <a class="algo" href="#"><span >Aviso Legal</span></a>
            <a class="algo" href="#"><span >Politica Privacidad</span></a>
            <a class="algo" href="#"><span >Politica de Cookies</span></a>
        </div>
    </div>
</div>
