.image {
    max-width: 100%;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}

.main-box {
    .box-input {
        transform: translate(500px, -925px);
        position: absolute;
        width: 50%;
        box-shadow: 0px 2px 15px rgba(103, 99, 139, 0.120674);
        border-radius: 19px;
        background: rgba(255, 255, 255, 0.877);
        padding: 15px;
        input {
            border: 0px;
            background: rgba(255, 255, 255, 0);
            padding: 20px 20px;
            font-size: 18px;
            border-radius: 20px;
            outline: none;
            width: 80%;
        }
        .btn-primary {
            background-color: #37447E;
            border-radius: 20px;
            float: right;
            text-align: center;
            box-shadow: 0 0 5px #37447E;
            padding: 15px 25px 15px 25px;
            font-weight: bolder;
            margin-top: 5px;
        }
        .svg {
            width: 25px;
            height: 25px;
        }
    }
}